* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body,html{
    background-color: #000;
}

.passbackcol {
    background-color: darkgray;
    border: none;
    border-radius: 5px;
    margin: 20px auto;
    display: inline-block;
    padding: 10px 80px;
    width: auto;
}

.passbackcol h1 {
    font-size: 20px;
    color: #ffffff;
}

input[type="text"] {
    padding: 6px 10px!important;
    border: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 12px;
    outline: none;
    width: 280px;
}

.passbackcol .copybutton {
    padding: 7px 15px;
    font-size: 12px;
    border: none;
    background-color: #000;
    color: #ffffff;
    border-radius: 0px 5px 5px 0px;
}

.passbackcol .textsize {
    font-size: 13px;
    padding: 0px 3px;
    color: #493313;
    font-weight: 600;
}